{erl_opts, [debug_info, {feature, maybe_expr, enable}]}.

{deps, [
    {amqp_client, "3.12.4"},
    {epgsql,      "4.7.1"},
    {jsx,         "3.1.0"},
    {liver,       ".*", {git, "https://github.com/erlangbureau/liver.git", {branch, "master"}}},
    {poolboy,     "1.5.2"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {feature, maybe_expr, enable}]}
    ]},
    {prod, [
        {relx, [
            {release, {workforce_tracker, "1.0.0"}, [workforce_tracker]},
            {sys_config, "./config/sys.config"},
            {vm_args,    "./config/vm.args"},
            {mode, prod}
        ]}
    ]}
]}.

{ct_opts, [
    {dir,    "test"},
    {logdir, "logs/ct"}
]}.